html, body {
    width: 330px;
    font-family: "Roboto Mono", monospace;
  } 
  .hidden {
    display: none;
  }
  .field {
    margin: 3% auto;
    padding: 4px;
    font-size: 0.5em;
    padding-bottom: 20px;
    
  }
  .field2 {
    font-size: 0.5em;
    padding-left: 5px;
    
  }
  div p {
      text-align: center;
      font-size: 1.5em;
  }
  .popup-content {
    width: 100%;
    overflow: visible;
    text-align: center;
    background: rgb(255,255,255);
    background: linear-gradient(349deg, rgba(255,255,255,1) 0%, rgba(50,195,255,1) 0%, rgba(255,255,255,1) 100%);
    border: 3px;
    border-color: black;
    border-style: solid; 
  }
  .consent-content {
    width: 100%;
    overflow: visible;
    text-align: left;
    border: 3px;
    border-color: black;
    border-style: solid;
    background: rgb(255,255,255);
    background: linear-gradient(349deg, rgba(255,255,255,1) 0%, rgba(50,195,255,1) 0%, rgba(255,255,255,1) 100%);
  }
  .escriu{
      width: 60%;
      padding-right: 10px;
      padding-left: 0px;
      border-radius: 10px;
      margin-right: 10px !important;
      height: 37px;
  }
  .camp{
      width: 40%;;
  }
  .in{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
  }
  button {
      font-family: inherit;
      font-size: 1em;
      padding: 10px;
      width: 60%;
      text-align: center;
      font-weight: 200;
      letter-spacing: 1px;
      padding: 13px 50px 13px;
      outline: 0;
      border: 1px solid black;
      cursor: pointer;
      position: relative;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 5px;
  }
  .consulta_button {
    font-size: 1.2em;
    padding: 10px;
    width: 55%;
    text-align: center;
    font-weight: bolder;
}

.info_button {
  font-size: 0.9em;
  padding: 3px 10px;
  width: 23%;
  text-align: center;
  font-weight: bolder;
  margin-left: 5px;
}

.info {
  background-color: #295ce9;
  margin-bottom: 7px;

}

.transaction_button {
  font-size: 1.7em;
  padding-left: 10px;
  margin: 2%;
  margin-top: 0px;
  width: 31%;
  text-align: center;
}
.back_button {
  font-size: 1em;
  padding: 10px;
  width: 30%;
  text-align: center;
}


.transaction {
  background-color: #cce929;
  padding: 10px;
  width: 55%;
  text-align: center;
  font-weight: bolder;
  font-size: 2.5em;

}
.transaction:hover {
  background-color: #d8ec62;
}
  .consulta {
    background-color: #295ce9;
    margin-bottom: 7px;

  }
  .consulta:hover {
    background-color: #577ee9;
  }

  .new_pair {
    background-color: #295ce9;
    margin-bottom: 7px;

  }
  .new_pair:hover {
    background-color: #577ee9;
  }

  .torna {
    background-color: #ad2c57;
    margin-left: 10px;

  }
  .torna:hover {
    background-color: #aa4869;
  }
  .aplica {
    background-color: #18b913;
    margin-bottom: 7px;
    padding: 10px;
    width: 55%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    

  }
  .aplica:hover {
    background-color: #32e92b;
  }



  .save_keys {
    background-color: #18b913;
    margin-bottom: 7px;
    padding: 10px;
    width: 55%;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    

  }
  .save_keys:hover {
    background-color: #32e92b;
  }

  ul li {
    margin-bottom: 5px;
  }

  .list-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  
  .custom-scroll-list {
    list-style: none;
    padding: 0;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  
  /* For Firefox */
  .custom-scroll-list {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  
  .custom-scroll-list::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scroll-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .custom-scroll-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  